<div class="container">
    <aside class="menu">
        <p class="menu-label">
            Power Bi
        </p>
        <ul class="menu-list">
            <li>
                <a></a>
                <a class="is-active">Power Bi Link</a>
                <ul>
                    <li *ngFor="let item of listaDashboard; index as i">
                        <a href="Link/{{i}}" routerLinkActive="is-active">{{item.titulo}}</a>
                    </li>
                </ul>
            </li>
            <li><a href="Library">Power Bi Library</a></li>
        </ul>
    </aside>
</div>